@import '../abstracts/variables.scss';
// coffee
// our-coffee
.our-coffee {
  position: relative;
  background-image: url('../images/bit-brown.png');
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;

  .bit-left {
    position: absolute;
    top: 114px;
    left: 0;
    width: 18.5%;
  }

  .bit-right {
    position: absolute;
    right: 0;
    bottom: 142px;
    width: 14.68%;
  }

  .desc {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .product-wrap {
    display: flex;
    justify-content: space-between;

    .item-product {
      width: calc(25% - 30px);
    }
  }

  @media(max-width: 992px) {
    .product-wrap {
      flex-wrap: wrap;

      .item-product {
        width: 100%;
      }
    }
  }
}

// how it work
.how-it-work {
  // position: relative;
  // background-image: url('../images/bit-brown.png');
  // background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;

  // .bit-left {
  //   position: absolute;
  //   top: 114px;
  //   left: 0;
  //   width: 18.5%;
  // }

  // .bit-right {
  //   position: absolute;
  //   right: 0;
  //   bottom: 142px;
  //   width: 14.68%;
  // }

  .how-it-work-wrap {

  }

  .how-it-work-item {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;

    .img-wrap {
      width: 65%;

      img {
        width: 100%;
        max-width: 100%;
      }
    }

    .desc-product {
      width: 35%;
    }

    &:nth-of-type(odd) {
      .desc-product {
        text-align: right;
      }
    }

    &:nth-of-type(even) {
      flex-direction: row-reverse;

      .desc-product {
        text-align: left;
      }
    }
  }

  // .how-it-work-wrap {
  //   display: flex;
  //   justify-content: space-between;
  //   width: 100%;

  //   .how-it-work-item {
  //     width: calc(33.3333% - 40px);
  //   }
  // }

  // .how-it-work-item {
  //   margin-bottom: 15px;
    
  //   .img-wrap {
  //     margin-bottom: 30px;
  //     display: block;
  //     width: 100%;

  //     img {
  //       width: 100%;
  //     }
  //   }
  
  //   .desc-product {
  //     max-width: 340px;
  //     margin-left: auto;
  //     margin-right: auto;
  //     text-align: center;
  
  //     h3 {
  //       font-size: 18px;
  //       line-height: 26px;
  //       color: #462e1f;
  //       margin-bottom: 20px;
  //       display: block;
  //       font-weight: normal;
  //     }
  
  //     p {
  //       line-height: 24px;
  //       margin-bottom: 40px;
  //     }
  //   }
  // }
}