@import '../abstracts/variables.scss';

// product bg white
.product-white {
  height: 100vh;
  background-color: white;
  
  &.htb {
    position: relative;
    
    .bgt {
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 2;
    }
  }

  .inner {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
  }

  .img-product-wrap {
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 50px;

    img {
      
    }
  }
}

.product-brown {
  height: 100vh;
  background-color: $pcolor;
  
  .inner {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 50px;
  }

  .img-product-wrap {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 50px;
  }
}