@import '../abstracts/variables.scss';
.item-product {
  margin-bottom: 15px;
  
  .img-wrap {
    margin-bottom: 30px;
    display: block;
    width: 100%;
  }

  .desc-product {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    h3 a {
      font-size: 20px;
      line-height: 26px;
      color: #462e1f;
      margin-bottom: 20px;
      display: block;

      &:hover {
        color: #462e1f;
      }
    }

    p {
      line-height: 24px;
      margin-bottom: 40px;
    }

    .btn-gcolor {

    }
  }
}

.item-blog {
  background-color: white;

  .img-wrap {
    display: block;

    img {
      max-width: 100%;
    }
  }

  .desc-blog {
    padding: 22px 20px;

    h3 a {
      font-size: 18px;
      line-height: 26px;
      color: $scolor;
      margin-bottom: 15px;
    }

    span {
      font-size: 12px;
      text-transform: uppercase;
      display: block;
      margin-bottom: 20px;
    }

    p {
      color: #000;
      margin-bottom: 20px;
    }

    .read-more {
      color: #000;
    }
  }
}

.item-brand {
  display: block;
}