extends modules/layout/layout.pug
block head
block header
  h1 tao la header
block content
  h2 tao la content
block footer
  h3 tao la footer
  script(src='js/extention/jquery-3.3.1.min.js')
  script(src='js/extention/bootstrap.min.js')
  script(src='js/extention/slick.min.js')