extends modules/layout/layout.pug
block head
block header
  header.header
    .left
      .logo
        img(src="images/logo.png")
    .right
      .top
        .dropdown.show
          a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Dropdown link
          .dropdown-menu(aria-labelledby='dropdownMenuLink')
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            a.dropdown-item(href='#') Something else here
block content
  h2 tao la content
block footer

block script
  h1 cuong
  