extends modules/layout/layout.pug
append head
append header
append content
  //- office coffee
  section.office-coffee
    .container
      .row
        .col-lg-6
          .row
            .inner
              .title-wrap
                h2.title OFFICE COFFEE
                h4.title Heading line 2
                img(src="images/seperator-brown.png")
              .desc
                p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
              .text-center
                a.btn-gcolor(href="#") View more
append footer
