extends modules/layout/layout.pug
append head
append header
append content
  //- slide
  section.top-section.hbb
    img.bgb(src="images/bg-brown-bot.png")
    .slide.slide-story
      .item-slide(style='background-image: url(images/s02.png)')
        .container
          .row
            .col-md-12
              .row
                .content.full
                  .title-wrap.white
                    h2.title VÙNG TRỒNG NGUYÊN LIỆU
                    img(src="images/seperator-white.png")
                  .desc.white
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                  .text-center
                    a.btn-gcolor(href="#") View more
      .item-slide(style='background-image: url(images/s01.png)')
        .container
          .row
            .col-md-12
              .row
                .content.full
                  .title-wrap.white
                    h2.title VÙNG TRỒNG NGUYÊN LIỆU
                    img(src="images/seperator-white.png")
                  .desc.white
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                  .text-center
                    a.btn-gcolor(href="#") View more
    button.btn-next-section
      img(src="images/icon-next-section.png")
  //- our coffee
  section#next-section.qt-product
    .bit-left
      img(src="images/bit-left.png")
    .bit-right
      img(src="images/bit-right.png")
    .container
      .row
        .title-wrap
          h2.title QUY TRÌNH SẢN XUẤT
          h4.title Heading line 2
          img(src="images/seperator-brown.png")
        .desc.text-center
          p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
        .qt-product-wrap
          .qt-product
            a(href="#").img-wrap
              img(src="https://via.placeholder.com/330x325")
            .desc-product
              h3  Bước 1
              p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
          .qt-product
            a(href="#").img-wrap
              img(src="https://via.placeholder.com/330x325")
            .desc-product
              h3  Bước 2
              p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          .qt-product
            a(href="#").img-wrap
              img(src="https://via.placeholder.com/330x325")
            .desc-product
              h3  Bước 3
              p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          .qt-product
            a(href="#").img-wrap
              img(src="https://via.placeholder.com/330x325")
            .desc-product
              h3  Bước 4
              p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
          .qt-product
            a(href="#").img-wrap
              img(src="https://via.placeholder.com/330x325")
            .desc-product
              h3  Bước 5
              p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          .qt-product
            a(href="#").img-wrap
              img(src="https://via.placeholder.com/330x325")
            .desc-product
              h3  Bước 6
              p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
  
  //- toi tay nguoi dung
  section.ttnd.htb
    img.bgt(src="images/bg-brown-top.png")
    .container
      .row
        .title-wrap
          h2.title TỚI TAY NGƯỜI DÙNG
          h4.title Heading line 2
          img(src="images/seperator-brown.png")
        .ttnd-wrap
          .ttnd-item
            a(href="#").img-wrap
              img(src="https://via.placeholder.com/330x325")
            .desc-ttnd
              h3  HanCoffe Community
              p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          .ttnd-item
            a(href="#").img-wrap
              img(src="https://via.placeholder.com/330x325")
            .desc-ttnd
              h3  HanCoffe Original
              p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
          .ttnd-item
            a(href="#").img-wrap
              img(src="https://via.placeholder.com/330x325")
            .desc-ttnd
              h3  Coffe At Work
              p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
  //- office coffee
  section.dt-coffee.htb
    .container
      .row
        .col-md-7
          .row
            .inner
              .title-wrap
                h2.title TRƯỜNG ĐÀO TẠO
                  br
                  | CÀ PHÊ
                img(src="images/seperator-brown.png")
              .desc
                p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
              .text-center
                a.btn-gcolor(href="#") View more
  //- other brand
  section.other-brand.htb
    .bit-center
      img(src="images/bit-center.png")
    .container
      .row
        .title-wrap
          h2.title OUR OTHER BRANDS 
          h4.title Heading line 2
          img(src="images/seperator-brown.png")
        .desc
          p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
        .other-brand-wrap
          a(href="#").item-brand
            .img-wrap
              img(src="images/other-brand.png")
            .desc-other-brand
              p Bánh trung thu
              p HANMOONCAKE
          a(href="#").item-brand
            .img-wrap
              img(src="https://via.placeholder.com/1500x900/f9f1ed")
            .desc-other-brand
              p Coming soon
append footer
append script
  script.
    $('.slide-story').slick({
      autoplay: true,
      speed: 800,
      dots: false,
      fade: true,
      cssEase: 'linear',
      arrows: true,
    }).slickAnimation();

    $('.btn-next-section').on('click', function() {
      $('html, body').animate({
        scrollTop: $("#next-section").offset().top
    }, 1000);
    })